<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetroNaka</title>
    <link rel="stylesheet" type="text/css" media="screen" href="home.css" />
</head>
<body>
    <header class="CabecalhoHome">
        <div class="Logo">
            <img class="logo" src="../components/PetroNaka1.png" alt="...">
        </div>
    </header>
    <div class="linha-amarela"></div>
    <main>
        <nav>
            <ul>
                <li><a href="#">Sobre PetroNaka</a></li>
                <li><a href="#">Nossos Negócios</a></li>
                <li><a href="#">Área do Cliente</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </nav>
    </main>

    <footer>
        <div class="LogoFooter">
            <img class="logoFooter" src="../components/fundoPetroNaka.png" alt="...">
        </div>
    </footer>
</body>
</html>