<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetroNaka</title>
    <link rel="stylesheet" type="text/css" media="screen" href="home.css" />
</head>
<body>
    <header class="CabecalhoHome">
        <div class="Logo">
            <img class="logo" src="../components/images/PetroNaka1.png" alt="...">
        </div>
        <nav>
            <ul>
                <li><a href="./sobre.html">Sobre PetroNaka</a></li>
                <li><a href="./negocio.html">Tecnologias</a></li>
                <li><a href="./somos.html">Quem somos</a></li>
                <li><a href="./cliente.html">Área do Cliente</a></li>
                <li><a href="./contato.html">Contato</a></li>
            </ul>
        </nav>
    </header>
    <div class="linha-amarela"></div>
    <main class="MainHome">
        <div class="LogoFooter">
            <img class="logoFooter" src="../components/images/fundoPetroNaka.png" alt="...">
        </div>
    </main>

    <footer>
        <div></div>
    </footer>
</body>
</html>