<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetroNaka</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../public/stylesheet/pedidos.css" />
</head>

<body>
    <header class="CabecalhoHome">
        <div class="Logo">
            <img class="logo" src="../components/images/PetroNaka1.png" alt="...">
        </div>
    </header>

    <div class="linha-amarela"></div>

    <main class="MainLogin">
        <section id="lista-pedidos">
            <h2>Lista de Pedidos</h2>
            <input type="text" id="buscar" placeholder="Buscar por pedido">
            <table>
                <thead>
                    <tr>
                        <th>Número Pedido</th>
                        <th>Nome da Usina</th>
                        <th>Nome do Produto</th>
                        <th>Quantidade</th>
                        <th>Preço</th>
                        <th>Destino</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Usina A</td>
                        <td>Produto A</td>
                        <td>10</td>
                        <td>R$ 100,00</td>
                        <td>Destino A</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Usina B</td>
                        <td>Produto B</td>
                        <td>5</td>
                        <td>R$ 50,00</td>
                        <td>Destino B</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Usina C</td>
                        <td>Produto C</td>
                        <td>8</td>
                        <td>R$ 80,00</td>
                        <td>Destino C</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Usina D</td>
                        <td>Produto D</td>
                        <td>8</td>
                        <td>R$ 80,00</td>
                        <td>Destino D</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Usina E</td>
                        <td>Produto E</td>
                        <td>8</td>
                        <td>R$ 80,00</td>
                        <td>Destino E</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Usina F</td>
                        <td>Produto F</td>
                        <td>8</td>
                        <td>R$ 80,00</td>
                        <td>Destino F</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <button type="submit">Novo pedido</button>
    </main>

    <footer>
        <div></div>
    </footer>
</body>

</html>