<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetroNaka</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../stylesheet/pedidos.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script>
    <script src="../javascripts/List.js"></script>
</head>
<script>
    const options = {
        valueNames: ["usina", "produto"]
    };

    const pedidoList = new List("lista-pedidos", options);

    const buscarInput = document.getElementById("buscar");
    buscarInput.addEventListener("input", function () {
        const searchString = this.value.toLowerCase();
        pedidoList.search(searchString);
        console.log("teste")
        const pedidos = document.getElementsByClassName("pedido");
        for (const pedido of pedidos) {
            const usina = pedido.querySelector(".usina").innerText.toLowerCase();
            const produto = pedido.querySelector(".produto").innerText.toLowerCase();
            if (usina.includes(searchString) || produto.includes(searchString)) {
                pedido.style.display = "table-row";
            } else {
                pedido.style.display = "none";
            }
        }
    });

</script>

<body>
    <header class="CabecalhoHome">
        <div class="Logo">
            <img class="logo" src="../images/PetroNaka1.png" alt="...">
        </div>
    </header>

    <div class="linha-amarela"></div>

    <main class="MainLogin">
        <section id="lista-pedidos">
            <h2>Lista de Pedidos</h2>
            <input type="text" id="buscar" placeholder="Buscar por usina ou produto">
            <table>
                <thead>
                    <tr>
                        <th>Número Pedido</th>
                        <th>Nome da Usina</th>
                        <th>Nome do Produto</th>
                        <th>Quantidade</th>
                        <th>Preço</th>
                        <th>Destino</th>
                    </tr>
                </thead>
                <tbody id="tabela-pedidos">
                    {{#pedidos}}
                    <tr class="pedido">
                        <td>{{_id}}</td>
                        <td>{{usina}}</td>
                        <td>{{produto}}</td>
                        <td>{{quantidade}}</td>
                        <td>{{preco}}</td>
                        <td>{{destino}}</td>
                    </tr>
                    {{/pedidos}}
                </tbody>
            </table>
        </section>
        <form action="/pedidos/novoPedido" method="GET">
            <button type="submit">Novo pedido</button>
        </form>

    </main>

    <footer>
        <div></div>
    </footer>


</body>

</html>