*{
    margin: 0;
}

.CabecalhoHome {
    font-family: 'Averia Libre';
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 10px solid black; /* Adicione esta linha para definir a cor das bordas */
  }

.logo {
    width: 300px;
}

a:visited,
a:active {
    outline: 2px solid yellow; /* Define a cor e a largura do contorno */
}

.linha-amarela {
    height: 4.5px;
    background-color: #D4AF37;
}

nav ul {
    display: flex;
}

nav ul li a {
    text-decoration: none;
    color: #D4AF37;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.logoFooter {
    width: 1000px;
    height: 570px;
    display:flex;
    margin: auto;
}

footer{
    font-family: 'Averia Libre';
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 10px solid black;
    height: 39px;
}